@model GigerSport.Models.CreateList

@{
    ViewBag.Title = "System";
}

<h2>產品選項設定</h2>
@using (Html.BeginForm()) {
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-column chinsesFont">
                <div>
                    <button type="button" class="add_chinsesFont">新增</button> | <button type="button" class="del_chinsesFont">刪除</button>
                </div>
                <h3>中文字體</h3>
                @foreach (var item in Model.chinsesFontLists)
                {
                    <input type="text" class="notChanged" value=@item.chineseFontName disabled="true">
                }
            </div>
            <div class="col d-flex flex-column engilshFont">
                <div>
                    <button type="button" class="add_engilshFont">新增</button> | <button type="button" class="del_engilshFont">刪除</button>
                </div>
                <h3>英文字體</h3>
                @foreach (var item in Model.engilshFontLists)
                {
                    <input type="text" class="notChanged" value=@item.engilshFontName disabled="true">
                }
            </div>
            <div class="col d-flex flex-column fontColor">
                <div>
                    <button type="button" class="add_fontColor">新增</button> | <button type="button" class="del_fontColor">刪除</button>
                </div>
                <h3>文字顏色</h3>
                @foreach (var item in Model.fontColorLists)
                {
                    <input type="text" class="notChanged" value=@item.fontColorName disabled="true">
                }
            </div>
            <div class="col d-flex flex-column numberFont">
                <div>
                    <button type="button" class="add_numberFont">新增</button> | <button type="button" class="del_numberFont">刪除</button>
                </div>
                <h3>數字字體</h3>
                @foreach (var item in Model.numberFontLists)
                {
                    <input type="text" class="notChanged" value=@item.numberFontName disabled="true">
                }
            </div>
            <div class="col d-flex flex-column size">
                <div>
                    <button type="button" class="add_size">新增</button> | <button type="button" class="del_size">刪除</button>
                </div>
                <h3>尺寸大小</h3>
                @foreach (var item in Model.sizeList)
                {
                    <input type="text" class="notChanged" value=@item.sizeName disabled="true">
                }
            </div>
            <div class="col d-flex flex-column style">
                <div>
                    <button type="button" class="add_style">新增</button> | <button type="button" class="del_style">刪除</button>
                </div>
                <h3>樣式</h3>
                @foreach (var item in Model.styleLists)
                {
                    <input type="text" class="notChanged" value=@item.styleName disabled="true">
                }
            </div>
            <div class="col d-flex flex-column style">
                <div>
                    <button type="button" class="add_style">新增</button> | <button type="button" class="del_style">刪除</button>
                </div>
                <h3>單價</h3>
                @foreach (var item in Model.styleLists)
                {
                    <h6>@item.styleName</h6>
                    <input type="text" class="notChanged" value=@item.price name="price">
                }
            </div>
        </div>
    </div>
    <button type="submit">保存變更</button>
}
@section Scripts {
    <script>
        $(".add_chinsesFont").click(function () {
            $(".chinsesFont").append(` <input type="text" placeholder="中文字型" class="chinsesFontInfo" name="chinsesFont" required>`);
        });
        $(".del_chinsesFont").click(function () {
            $(".chinsesFontInfo").last().remove();
        });
        $(".add_engilshFont").click(function () {
            $(".engilshFont").append(` <input type="text" placeholder="英文字型" class="engilshFontInfo" name="engilshFont" required>`);
        });
        $(".del_engilshFont").click(function () {
            $(".engilshFontInfo").last().remove();
        });
        $(".add_fontColor").click(function () {
            $(".fontColor").append(` <input type="text" placeholder="字體顏色" class="fontColorInfo" name="fontColor" required>`);
        });
        $(".del_fontColor").click(function () {
            $(".fontColorInfo").last().remove();
        });
        $(".add_numberFont").click(function () {
            $(".numberFont").append(` <input type="text" placeholder="數字字型" class="numberFontInfo" name="numberFont" required>`);
        });
        $(".del_numberFont").click(function () {
            $(".numberFontInfo").last().remove();
        });
        $(".add_size").click(function () {
            $(".size").append(` <input type="text" placeholder="尺寸" class="sizeInfo" name="size" required>`);
        });
        $(".del_size").click(function () {
            $(".sizeInfo").last().remove();
        });
        $(".add_style").click(function () {
            $(".style").append(` <input type="text" placeholder="樣式" class="styleInfo" name="style" required>`);
        });
        $(".del_style").click(function () {
            $(".styleInfo").last().remove();
        });
    </script>
}